@media screen and (max-width:992px) and (min-width:688px) {
    .about-item h1{
        font-size: 45px;
    }
    .about-item p{
        word-spacing: 1px;
        letter-spacing: 1px;
    }
    .about-me p{
        width: 75%;
    }
    .about-me h1 {
        font-size: 35px;
    }
    .skill-item img{
        height: 70px;
        width: 70px;
    }
    .skill h1{
        font-size: 40px;
        margin-bottom: 45px;
    }
    .project-item{
        
        width: 340px;
        
        
        
    }
    .project-item img{
        
        width: 340px;
        
    }
    .project-items{
    
    grid-template-columns: repeat(1, 1fr);
   
    }
    
}
@media screen and (max-width:687px) and (min-width:320px) {
    .about-item h1{
        font-size: 28px;
    }
    .avatar{
        height: 100px;
    }
    .code{
        width: 247px;
    }
    .about-me h1{
        font-size: 20px;
    }
    .about-me p{
        width: 100%;
    }
    .about-item p{
        letter-spacing: 1px;
        word-spacing: 1px;
        font-size: 8px;
    }
    header nav{
        display: none;
    }
    header img{
        display: inline-block;
    }
    .code{
        top: 124px;
    }
    .skill-item img{
        height: 50px;
        width: 50px;
    }
    .skill h1{
        font-size: 20px;
        margin-bottom: 45px;
    }
    .skill-items{
        flex-wrap: wrap;
    }
    .project-item{
        height: 136px;
    width: 222px;
    }
    .project-item img{
        height: 136px;
    width: 222px;
    }
    .project-items{
        grid-template-columns: repeat(1,1fr);
    }
    .projects h1{
        font-size: 20px;
    }
    .projects h5{
        font-size: 15px;
        width: 88%;
    }
    .text{
        font-size: 10px;
    }
}
