/* -----------common---------- */
body{
   
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: transition;
    animation-duration: .3s;
    background-color: #212121;
}
h1,p{
    color: white;
}
/* -----------common---------- */

/* -------------------header----------------------- */
header{
    background-color: #2fc176;
    position: sticky;
    top: 0;
    z-index: 5;
}
header img{
   display: none;
}
/* --------------navbar--------------- */
header nav{
    display: flex;
    justify-content: flex-start;
}
header ul{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    background-color: #2fc176;
    width: 100%;
}
header ul li{
    list-style-type: none;
    padding: 10px;
    margin: 0px 20px 0px 20px;
    color: white;
    cursor: pointer;
}
header ul li:hover{
    /* color: rgb(30, 100, 230); */
    color: #0e3621;
}
/* --------------navbar----------- */
/* -------------------header----------------------- */
/* ---------------------about------------------- */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 220px;
}
.about-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatar{
    animation-name: avatar;
    animation-duration: 1s;

}
.about-item h1{
    font-size: 50px;
    font-weight: bold;
    position: relative;
    animation-name: about-item-h1;
    animation-duration: 1s;
}
.about-item p{
    font-weight: lighter;
    word-spacing: 2px;
    letter-spacing: 2px;
    position: relative;
    animation-name: about-item-p;
    animation-duration: 1s;
}
.code{
    height: 200px;
    width: 441px;
    position: relative;
    top: 84px;
    
}
.about-me{
    background-color: #2fc176;
    color: white;
    width: 100%;
    height: 450px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 75px;
}
.about-me h1{
    font-size: 50px;
    font-weight: bold;

}
.about-me p{
    margin-top: 20px;
    display: inline-block;
    width: 27%;
}
/* ---------------------about------------------- */
/* --------------------skills------------------- */
.skills{
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
    height: 450px;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2fc176;
    width: 60%;
    border-radius: 10px;
    justify-content: center;
}
.skill-items{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.skill h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 65px;
    position: relative;
    top: -40px;
}
.skill-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill-item h6{
    color: white;
    font-weight: 900;
}
.skill-item img{
    height: 100px;
    width: 100px;
    filter: brightness(0) invert(1);
    transition: .3s ease;
    margin-bottom: 10px;
    cursor: pointer;
}
.skill-item img:hover{
    transform: scale(1.1);
    filter: brightness(0) invert(0);
    transform: rotate(-10deg);
}
/* --------------------skills------------------- */
/*-------------------- projects----------------- */
.My-Projects{
    display: flex;
    justify-content: center;
    /* height: 700px; */
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    background-color: #2fc176;
}
.projects h1{
    color: white;
    margin-bottom: 24px;
    margin-top: 33px;
    font-weight: bold;
}
.projects h5 {
    color: white;
}
.projects a{
    text-decoration: none;
    color: #212121;
}
.project-items{
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 35px;
    justify-items: center;
    margin-bottom: 50px;
    
    
    width: 100%;
}
.project-item{
    height: 228px;
    width: 403px;
    position: relative;
    
    
}
.project-item img{
    height: 228px;
    width: 403px;
    border-radius: 10px;
}
.text{
    /* display: none; */
    opacity: 0;
    position: absolute;
    top: 0;
    color: #2fc176;
    height: 100%;
    transition: .3s ease background-color;
    
    border-radius: 10px;
    
}
.text p{
    width: 70%;
    color: #212121;
}
.project-item:hover .text{
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    
    
}

/*-------------------- projects----------------- */
/* animations */
@keyframes transition{
    from{
        opacity: 0;
        transform:scale(1.1)
    }
    to{
        opacity: 1;
        transform: rotate(0deg);
    }
}
@keyframes about-item-h1{
    from{
        left: -1198px;
        font-size: 0px;
    }
    to{
        left: 0;
        font-size: 50px;
    }
}
@keyframes about-item-p{
    from{
        right: -1150px;
    }
    to{
        right: 0;
    }
}
@keyframes avatar{
    from{
        transform: scale(0.0);
    }
    to{
        transform: scale(1.0);
    }
}


/* animations */
